@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: sepia(76%) saturate(180%) hue-rotate(-20deg) contrast(80%) brightness(50%);

}
#head {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
    margin-top: 60px;
    margin-inline:160px;
}

#head p {
    font-family: "Jost";
    font-size: 40px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
}

main {
    position: absolute;
    width: 616px;
    height: 622px;
    left: calc(50% - 616px/2);
    top: calc(50% - 622px/2 + 0.5px);
    display: flex;
    flex-direction: column;
    

    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
#loginscreen {
    margin: 20px;
}

#cardheader {
    align-items: center;
    padding: 16px;
    width: 552px;
    height: 84px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#cardheader h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 133.4%;
    color: rgba(0, 0, 0, 0.87);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#cardheader p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.17px;
    color: rgba(0, 0, 0, 0.6);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#cardbody {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#cardbody input {
    padding: 14px;
}

#passwordsettings {
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#passwordsettings p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.15px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#showpass {
    display: flex;
    flex-direction: row;
}

#mostrarsenha {
    margin-right: 9px;
    accent-color:#EF6C00;
}

#loginbtn {
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-inline: 43%;
    background: #EF6C00;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: medium;
}

#semconta {
    margin: 16px;
    margin-top: 20px;
    display: flex;
    gap: 8px;
}

#semconta p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.17px;
    color: rgba(0, 0, 0, 0.6);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#semconta a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.17px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}